@import url('https://fonts.googleapis.com/css2?family=Tagesschrift&family=Bebas+Neue:ital,wght@0,400;0,700;1,400&display=swap');

content {
  max-width: 1600px;
  margin: 0 auto;
  padding: 4em;
  font-size: 18px;
}

nav a, #hero-msg h1, #hero-msg h4, .button-box, main section {
    text-align: center;
}
#background {
    height: 725px;
    background-color: beige;
}
body {

background-color: #fcfbfb;
text-decoration: none;
margin: 0;
padding: 0;
}
h2 {
    margin: 0;
}
#logo_link {
    padding-top: 5px;
}
main section img {
    box-sizing: border-box;
}
header {
    background-color:rgba(20,30,13, .7);
}
nav a:hover {
    background-color: black;
    color: white;
}
.home-title {
    color: rebeccapurple;
    font-family: "Bebas Neue";
    font-size: 2em;
    margin-top: 10px;
}
.msg h2 {
    font-family: "Bebas Neue";
}
.book {
    background-color: aqua;
    color: blue;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
h4 {
    background-color: yellow;
    color: forestgreen;
}
.join {
    background-color: blue;
    color: red;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.card-img {
    border: 10px;
    color: black;
}
.book:hover {
    background-color: pink;
    color: black;
}
.join:hover {
    background-color: lightblue;
    color: coral;
}
.msg, .msg h2, .msg p {
 background-color: green;
 color: brown;
}
footer, footer a {
    background-color: blanchedalmond;
    color: blueviolet;
    text-decoration: none;
}
.icon {
    width: 80px;
    padding-top: 10px;
}
#hero-img {
    width: 100%;
}
nav a {
    text-decoration: none;
    padding: 35px;
}
footer p {
    font-size:1.2em;
    text-decoration: underline;
}
a:hover {
    text-decoration: underline;
}
.social {
    text-decoration: none;
}
.content {
    max-width: 1600px;
}
.msg p {
    font-size: .8em;
    padding-bottom: 15px;
}
.msg {
    line-height: 1.5em;
}
footer {
    padding: 25px 50px;
    margin-top: 200px;
}
footer .social img {
    padding-top: 15px;
}
.rivers-card .campingcard .rapids-card {
    margin: 200px 0;
}